NODEFILE="/home/USER/testing/DATE/work/nodes.conf"
IONCOUNT=4
METACOUNT=1
UNIQUEMETA=0
PROTOCOL=tcp
PVFSPORT=3349
WORKINGDIR="/tmp/pvfs2-pav"
STORAGE="/tmp/pvfs2-pav/storage"
SERVERLOG="/tmp/pvfs2-pav/log"
MOUNTPOINT="/tmp/pvfs2-pav-mount"
BINDIR="/home/USER/testing/DATE/work/INSTALL-pvfs2/bin"
RCMDPROG=rsh
RCPPROG=rcp
SERVER="/home/USER/testing/DATE/work/INSTALL-pvfs2/sbin/pvfs2-server"
PINGPROG="/home/USER/testing/DATE/work/INSTALL-pvfs2/bin/pvfs2-ping"
GENCONFIG="/home/USER/testing/DATE/work/INSTALL-pvfs2/bin/pvfs2-genconfig"
COPYBINS=1
PVFS2TAB_FILE="/tmp/pvfs2-pav/pvfs2tab"
