[Unit]
Description=OrangeFS Parallel File System
After=network.target

[Service]
Type=simple
ExecStart=/opt/orangefs/sbin/pvfs2-server -d /opt/orangefs/etc/orangefs.conf -p /opt/orangefs/orangefs-server.pid -a %H_tcp3334

                                                                                             
[Install]
WantedBy=multi-user.target

