#
# After making changes to this or any other .gitignore file in this
# project, please use the following command to make sure there aren't
# any tracked files that will be ignored:
#
#    git ls-files -i --exclude-standard
#
# Files located/generated in a specific subdirectory are included in
# the ".gitignore" file in that subdirectory.
#

#
# Global rules
#
*.aux
*.log
*.ps
*.toc
*.out
*.o
*.po
*kdev*
module.mk
cscope.*
config.status
.DS_Store

#
# Ignore generated dependency files...
#
*.d
#
# ... but don't ignore *.d directories
#
!*.d/

#
# Top-level files...
#
/build
/aclocal.m4
/configure
/pvfs2-config.h.in
/Makefile
/pvfs2-config.h
/config.save
#
# ... and directories
#
/autom4te.cache/
/lib/

#
# Editor files
#
*~
*.swp
*.bak
*.pl
/windows/projects/OrangeFS/ops.txt

#
# Third-Party Windows Libraries
#
/windows/dokan/
/windows/dokany/
/windows/ldap/
/windows/openssl/
/src/client/windows/client-service/messagesTEMP.BIN
/src/client/windows/client-service/messages.aps
