# primative bakctick expansion is allowed: 
# NODEFILE=`sort $PBS_NODEFILE | uniq > machines ; echo machines`
NODEFILE=machines.pav

# this is the default number of IO servers, but it can be overridden with -n
IONCOUNT=2

METACOUNT=1
UNIQUEMETA=1


#
# EVERYTHING SHOULD BE IN THIS DIRECTORY ON REMOTE NODES
#
WORKINGDIR="/sandbox/robl/pvfs"

#
# SERVER CONFIGURATION
#

# be careful: the port has to be a port apropriate for the protocol
PROTOCOL=tcp
PVFSPORT=3335
#  --  could be --
# PROTOCOL=gm
# PVFSPORT=6
#  --  or even --
# PROTOCOL=ib
# PVFSPORT=12345

STORAGE=$WORKINGDIR/storage
SERVERLOG=$WORKINGDIR/log

MOUNTPOINT="/pvfs-auto"

BINDIR=$WORKINGDIR/bin

RCMDPROG=ssh
RCPPROG=scp

#
# LOCATION OF IMPORTANT BINARIES LOCALLY
#
PROGROOT=/homes/robl/projects/jazz/pav

PVFS=/homes/robl/pvfs2
SERVER=$PVFS/sbin/pvfs2-server
PINGPROG=$PVFS/bin/pvfs2-ping
GENCONFIG=$PVFS/bin/pvfs2-genconfig
# this value only has to be set in heterogenous environments 
#ENCODING="{direct|le_bfield|xdr}" 
